PORT=your_backend_port
DATABASE_URL=your_database_url
GMAIL_USER=your_gmail_username
GMAIL_PASS=your_gmail_password
GMAIL_HOST=your_smtp_host
GMAIL_PORT=your_smtp_port

MAIL_API_TOKEN=your_mail_api_token
ACCESS_TOKEN_SECRET=your_access_token_secret
REFRESH_TOKEN_SECRET=your_refresh_token_secret
CLIENT_URL=your_frontend_port